@import 'tailwindcss';

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 3s ease infinite;
}

.animation-delay-1000 {
  animation-delay: 1s;
}

:root {
  --color-light-blue: #4fc3f7;
  --color-blue: #0076cf;
  --color-deep-blue: #0334ab;
  --color-mint: #1ce9b6;
  --color-teal: #00bfa5;
  --color-dark: #202124;
  --color-white: #FFFFFF;

  --background: var(--color-deep-blue);
  --foreground: var(--color-white);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-white);
  }
}

body {
  color: #ffffff;
  background: var(--background);
  font-family: var(--font-inter), 'Inter', sans-serif;
}

.ambassadors-list{
  color: #171717;
}
