@import 'tailwindcss';

:root {
  --color-light-blue: #4fc3f7;
  --color-blue: #0076cf;
  --color-deep-blue: #0334ab;
  --color-mint: #1ce9b6;
  --color-teal: #00bfa5;
  --color-dark: #202124;
  --color-white: #FFFFFF;

  --background: var(--color-white);
  --foreground: var(--color-white);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-white);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

.ambassadors-list{
  color: #171717;
}
